{% extends "main.html" %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <form class="row g-3 needs-validation" novalidate>
                <div class="col-md-4">
                    <label for="razao_social" class="form-label">RAZÃO SOCIAL</label>
                    <input type="text" class="form-control" id="razao_social" placeholder="Digita Razão Social"
                        required>
                    <div class="valid-feedback">
                        Valido!!
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="nome_fantasia" class="form-label">NOME FANTASIA</label>
                    <input type="text" class="form-control" id="nome_fantasia" placeholder="Digita o Nome Fantasia" required>
                    <div class="valid-feedback">
                        Valido!!
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="cnpj" class="form-label">CNPJ</label>
                    <input type="text" class="form-control" id="cnpj" placeholder="Digita seu CNPJ" required>
                    <div class="valid-feedback">
                        CNPJ Valido!!
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="ie" class="form-label">IE</label>
                    <input type="text" class="form-control" id="ie" placeholder="Digita seu IE" required>
                    <div class="valid-feedback">
                        RG Valido!!
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="button" id="alvar">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
{% include "script.html"%}
<script src="/js/validade.js"></script>
{% endblock %}